<%- include('../partials/header') %>
    <div class="title-container">
        <h2>
            <%= plantCollection.collectionName %>
        </h2>
        <form action="/plantCollections/<%=plantCollection._id%>/plants/new">
            <button class="create-btn btn" type="submit">Add a new plant</button>
        </form>
    </div>


    <!-- show all plants with photo and name -->
    <% if(plantCollection.plants && plantCollection.plants.length> 0){%>
        <div class="board-collections">
            <%plantCollection.plants.forEach(function(p){%>
                <div class="board-container">
                    <a href="/plantCollections/<%=plantCollection._id%>/plants/<%=p._id%>">
                        <div class="board-cover photo">
                            <img src="<%=p.plantPhoto%>" alt="plant photo">
                        </div>
                        <div class="metadata board-text">
                            <%if (p.botanicalName && p.commonName){%>
                                <p><i>
                                        <%=p.botanicalName%>
                                    </i>/ <%=p.commonName%>

                                </p>
                                <%} else {%>
                                    <p>
                                        <%=p.commonName%>
                                    </p>
                                    <%}%>
                        </div>
                    </a>
                </div>

                <% }) %>
        </div>
        <% } else { %>
            <p>No plant yet</p>
            <% } %>
                <%- include('../partials/footer') %>