<%- include('../partials/header') %>

    <!-- where user to create new post after logging in -->
    <%if(user){%>
        <section class="user-new-post">
            <form id="new-post" action="/home" method="POST">
                <textarea class="new-input-box" name="content"
                    placeholder="Share your thoughts on plantings"></textarea>
                <input class="create-post" type="submit" value="Post">
            </form>
        </section>
        <%}%>

            <!-- where to show others posts/either followed or random popular posts -->

            <section class="others-posts">
                <% posts.forEach(function(p) { %>
                    <!-- to jump onto the specific post with comments - show page -->
                    <a href="/<%= p._id %>/comments" class="post">
                        <div class='part' id='user-profile'>
                            <img alt="avatar" src="<%= p.userAvatar %>">
                            <p id="user-name">
                                <%= p.userName %>
                            </p>
                        </div>
                        <div class='part' id="post-content">
                            <%= p.content %>
                        </div>
                        <div class='part'>
                            <% if (p.updatedAt !==p.createdAt) { %>
                                <!-- to show either edit date or create date -->
                                <p class="metadata post-time">
                                    <%= p.updatedAt.toISOString().slice(0, 16) %> Edited
                                </p>
                                <% } else { %>
                                    <p class="metadata post-time">
                                        <%= p.createdAt.toISOString().slice(0, 16) %> Posted
                                    </p>

                                    <% } %>
                                        <!-- to show like numbers -->
                                        <p class="metadata">Share</p>
                                        <!-- to jump to another share page -->
                                        <p class="metadata">Like</p>
                        </div>
                    </a>
                    <hr>
                    <% }) %>
            </section>


            <%- include('../partials/footer') %>