<%- include('../partials/header') %>

    <!-- where user to create new post after logging in -->
    <%if(user){%>
        <section class="user-new-post">
            <form id="new-post" action="/home" method="POST">
                <textarea class="new-input-box" name="content"
                    placeholder="Share your thoughts on plantings"></textarea>
                <input class="create-post" type="submit" value="Post">
            </form>
        </section>
        <%}%>

            <!-- where to show others posts/either followed or random popular posts -->

            <section class="others-posts">
                <!-- to show posts in descending order by date/time  -->
                <% posts.sort((a, b)=> b.createdAt - a.createdAt) %>
                    <% posts.forEach(function(p) { %>
                        <!-- to jump onto the specific post with comments - show page -->
                        <a href="/posts/<%= p._id %>" class="post">
                            <div class='part user-profile'>
                                <img alt="avatar" src="<%= p.userAvatar %>">
                                <p id="user-name">
                                    <%= p.userName %>
                                </p>
                            </div>
                            <div class="part content">
                                <%= p.content %>
                            </div>

                            <div class='part'>
                                 <!-- to jump onto the specific post with comments - show page -->
                                <p class="metadata icons"><ion-icon name="chatbox-outline"></ion-icon><a
                                        href='/posts/<%= p._id %>'>Comments</a> </p>

                                <!-- to show like numbers -->

                                <p class="metadata icons icon-container"><ion-icon name="heart-outline"></ion-icon>Like</p>

                                <!-- to jump to another share page -->

                                <p class="metadata icons"><ion-icon name="share-outline"></ion-icon>Share
                                </p>
                            </div>
                            <div class='part'>
                                <% if (p.updatedAt.getTime() !=p.createdAt.getTime()) { %>
                                    <!-- to show either edit date or create date -->
                                    <p class="metadata post-time">
                                        <%= p.updatedAt.toLocaleString().slice(0,23) %> Edited
                                    </p>
                                    <% } else { %>
                                        <p class="metadata post-time">
                                            <%= p.createdAt.toLocaleString().slice(0,23) %> Posted
                                        </p>

                                        <% } %>
                            </div>
                        </a>
                        <hr>
                        <% }) %>
            </section>


            <%- include('../partials/footer') %>