<%- include('../partials/header') %>
    <div class="row  gx-5">
        <div class="form-container col">
            <div class="p-3">
            <div class="plant-info-row">
                <p>Botanical Name: <em>
                        <%=plant.botanicalName%>
                    </em>
                </p>
            </div>
            <div class="plant-info-row">
                <p>Common Name: <%=plant.commonName%>
                </p>
            </div>
            <div class="plant-info-row">
                <p>Mature Height: <%=plant.matureHeight%>
                </p>
            </div>
            <div class="plant-info-row">
                <p>Mature Width: <%=plant.matureWidth%>
                </p>
            </div>
            <div class="plant-info-row">
                <p>Plant Type: <%=plant.plantType%>
                </p>
            </div>
            <div class="plant-info-row">

                <% if (plant.Native) { %>
                    <p>Native: Yes</p>
                    <% } else { %>
                        <p>Native: No</p>
                        <% } %>
            </div>
            <div class="plant-info-row">
                <p>Notes: <%=plant.Notes%>
                </p>
            </div>
</div>
        </div>
        <div class="form-container col">
            <div class="p-3">
                <img src="<%=plant.plantPhoto%>" alt="plant photo" class="plant-img">
            </div>

        </div>
    </div>
    <%- include('../partials/footer') %>